body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* overflow: hidden; */
    -ms-overflow-style: none;
    /* Hide default scrollbar */
}

.adminPannel {
    background-color: #ec1313 !important;
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
    /* Width of vertical scrollbar */
    height: 10px;
    /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Track color */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Thumb color */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Thumb color on hover */
}

/* Firefox */
* {
    scrollbar-width: thin;
    /* Options: auto, thin */
    scrollbar-color: #a34007 #f0f0f000;
    /* Thumb color | Track color */
}

::-webkit-scrollbar-corner {
    background: #f0f0f000;
}

.tableDiv thead .css-1jxw05q-MuiTableCell-root,
.tableDiv thead .css-195ypl5 {
    background: linear-gradient(to right, #eb3c5a, #eb3c5a) !important;
    color: #ffff !important;
    font-weight: 700 !important;
}

.css-1orzuox-MuiTableCell-root {
    color: aliceblue !important;
}

header {
    background: linear-gradient(to right, #eb3c5a, #f67831) !important;
}


.CardDiv .card-img-top {
    width: 175px !important;
    height: 160px !important;
    object-fit: cover;
    border: 2px solid #afa9a9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    border-radius: 50% !important;
    transform: translateY(-30%);
}

.CardDiv .card {
    padding: 0.5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.card-title {
    font-weight: bold;
    font-size: 1.5em;
}

.btn-primary {
    border-radius: 2em;
    padding: 0.5em 1.5em;
}

.tableImg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.tableDiv p,
.CardDiv p {
    margin: 0;
}

.css-1fgcw51-MuiTypography-root-MuiDialogTitle-root {
    background: linear-gradient(to right, #eb3c5a, #f67831) !important;
    color: #ffffff !important;
}

.alertImg img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.alertBox {
    height: 400px;
    overflow-y: auto;
}

.alertCard img {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.Footer {
    padding: 15px;
    text-align: center;
    background-color: #a99c95;
    position: absolute;
    bottom: 0;
    width: 100vw !important;
    color: #ffffff;
}

.avatar-upload {
    position: relative;
    max-width: 190px;
    margin: auto;

    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;

        input {
            display: none;

            +label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;

                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                /* &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                } */
            }
        }
    }

    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

        >div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.cardBox {
    padding: 15px;
    border: #a99c95 1px solid;
    border-radius: 10px;
    background-color: #dadada;
    margin-top: 80px;
    min-height: 700px;

}

.cardBox .cardDiv {
    overflow-y: auto;
    overflow-x: hidden;
    height: 515px;

}

.cardBox .listDiv {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 450px !;

}

.cardTitle {
    font-size: 25px;
    font-weight: 600;
}

.CardHeader {
    background: linear-gradient(to right, #eb5a3c, #eec9c3) !important;
    color: #ffffff !important;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 0 20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.CardHeaderReports {
    background: linear-gradient(to right, #eb5a3c, #eec9c3) !important;
    color: #ffffff !important;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CardHeaderReports .css-jupps9-MuiInputBase-root-MuiOutlinedInput-root,
.CardHeaderReports .css-1oy18r0 {
    background-color: #ffff !important;
    background: #ffffff !important;
}

.css-13cdgmw,
.css-12fsshj-MuiSvgIcon-root {
    cursor: pointer;
}

/* ---------------Report page -------------------- */

.reportDiv ul {
    --col-gap: 3rem;
    --barH: 2rem;
    --roleH: 2rem;
    --flapH: 2rem;

    width: min(80rem, 90%);
    margin-inline: auto;

    display: flex;
    flex-wrap: wrap;

    gap: var(--col-gap);
    padding-inline: calc(var(--col-gap) / 2);

    justify-content: center;
    align-items: flex-start;
    list-style: none;
}

.reportDiv ul li {
    width: 10em;
    display: grid;
    grid-template:
        "role"
        "icon"
        "title"
        "descr";
    align-items: flex-start;
    gap: 1rem;
    padding-block-end: calc(var(--flapH) + 1rem);
    text-align: center;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) var(--roleH),
            rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
            rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem));
    clip-path: polygon(calc(var(--col-gap) / -2 - 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
            50% 100%,
            calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH)));
}

/* bar */
.reportDiv ul li::before {
    content: "";
    grid-area: role;
    height: var(--barH);
    width: calc(100% + var(--col-gap));
    margin-left: calc(var(--col-gap) / -2);
    margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
    background: grey;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
}

/* role */
.reportDiv ul li::after {
    content: "";
    grid-area: role;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
    height: var(--roleH);
}

.reportDiv ul li .icon,
.reportDiv ul li .title,
.reportDiv ul li .descr {
    padding-inline: 1rem;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.reportDiv ul li .icon {
    font-size: 3rem;
}

.reportDiv ul li .title {
    font-size: 1.25rem;
    font-weight: 700;
}

.reportDiv ul li .descr {
    font-size: 0.9rem;
}

.reportDiv .credits {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.reportDiv .credits a {
    color: var(--color);
}

.ReportSection .scollDiv {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 230px !important;

}

.css-1dc80h3-MuiTableCell-root,
.css-1plsf6o {
    padding: 10px !important;
}

.css-1pk1fka,
.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
    background-color: #ffff !important;
    border-radius: 10px;
    border: none;
}